n8n/dashboard-chatbot-workflow.json
{
  "name": "Axon ERP - Dashboard Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-secret",
              "name": "SHARED_SECRET",
              "value": "axon-n8n-shared-secret-dev-2026",
              "type": "string"
            },
            {
              "id": "cfg-api",
              "name": "API_BASE_URL",
              "value": "http://host.docker.internal:3001",
              "type": "string"
            },
            {
              "id": "cfg-message",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "cfg-token",
              "name": "serviceToken",
              "value": "={{ $json.body.serviceToken }}",
              "type": "string"
            },
            {
              "id": "cfg-uname",
              "name": "userName",
              "value": "={{ $json.body.userName }}",
              "type": "string"
            },
            {
              "id": "cfg-tname",
              "name": "tenantName",
              "value": "={{ $json.body.tenantName }}",
              "type": "string"
            },
            {
              "id": "cfg-plan",
              "name": "plan",
              "value": "={{ $json.body.plan }}",
              "type": "string"
            },
            {
              "id": "cfg-reqsecret",
              "name": "requestSecret",
              "value": "={{ $json.headers['x-internal-secret'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.requestSecret }}",
              "rightValue": "={{ $json.SHARED_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000003",
      "name": "Secret Dogrula",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "a1000001-0001-4000-8000-000000000004",
      "name": "403 Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 480]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0,\n  \"max_tokens\": 50,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Kullanici mesajini analiz et. TAM OLARAK su kategorilerden birini don: FATURA_GENEL, FATURA_GECIKME, GELIR_RAPOR, CARI_BAKIYE, STOK, GENEL. Baska hicbir sey yazma.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Config').item.json.message) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000005",
      "name": "Intent Sinifla",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "intent",
              "name": "intent",
              "value": "={{ $json.choices[0].message.content.trim().toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000015",
      "name": "Intent Parse",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputIndex": 0,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FATURA_GENEL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "outputIndex": 1,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FATURA_GECIKME",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "outputIndex": 2,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "GELIR_RAPOR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "outputIndex": 3,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "CARI_BAKIYE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "outputIndex": 4,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "STOK",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": 5
        },
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000006",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1260, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/internal/invoices?limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.serviceToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000007",
      "name": "Faturalari Cek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 20],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/internal/reports/overdue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.serviceToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000008",
      "name": "Gecikmis Faturalari Cek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 150],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/internal/reports/revenue?dateFrom={{ new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString().split('T')[0] }}&dateTo={{ new Date().toISOString().split('T')[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.serviceToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000009",
      "name": "Gelir Raporu Cek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 280],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/internal/reports/balances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.serviceToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000010",
      "name": "Cari Bakiyeleri Cek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 410],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/internal/reports/stock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.serviceToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000011",
      "name": "Stok Durumu Cek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 540],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sen {{ $('Config').item.json.tenantName }} sirketinin Axon ERP asistanisin.\\n\\nKURALLAR:\\n1. SADECE sana verilen ERP verisini kullan. Veri disinda bilgi uydurma.\\n2. Baska sirket veya tenant hakkinda bilgi verme.\\n3. TC kimlik, IBAN, kredi karti, sifre gibi hassas bilgileri ASLA paylasma.\\n4. Turkce yanit ver. Para birimlerini TL ile goster.\\n5. Kisa ve oz yanit ver.\\n6. Veri yoksa bunu acikca belirt.\\n7. Eger ERP verisi bos, hata iceriyor veya alinamadiysa bunu acikca belirt ve genel yonlendirme yap.\\n\\nKullanici: {{ $('Config').item.json.userName }}\\nPlan: {{ $('Config').item.json.plan }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Soru: {{ $('Config').item.json.message }}\\n\\nERP Verisi:\\n{{ JSON.stringify($json.data || $json, null, 2) }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 25000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000012",
      "name": "AI Yanit Veri",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 280],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.5,\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sen {{ $('Config').item.json.tenantName }} sirketinin Axon ERP asistanisin. Bu genel bir soru, ERP verisi cekilmedi. Sadece ERP kullanimi hakkinda yardimci ol. Baska sirket bilgisi verme. Turkce yanit ver. Kisa tut.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Config').item.json.message) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 25000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000013",
      "name": "AI Yanit Genel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 700],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.choices[0].message.content, usedTools: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1000001-0001-4000-8000-000000000014",
      "name": "Yanit Don Veri",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1960, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.choices[0].message.content, usedTools: false }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1000001-0001-4000-8000-000000000016",
      "name": "Yanit Don Genel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 700]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Secret Dogrula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret Dogrula": {
      "main": [
        [
          {
            "node": "Intent Sinifla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "403 Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Sinifla": {
      "main": [
        [
          {
            "node": "Intent Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Parse": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Faturalari Cek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gecikmis Faturalari Cek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gelir Raporu Cek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cari Bakiyeleri Cek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stok Durumu Cek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Yanit Genel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faturalari Cek": {
      "main": [
        [
          {
            "node": "AI Yanit Veri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gecikmis Faturalari Cek": {
      "main": [
        [
          {
            "node": "AI Yanit Veri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gelir Raporu Cek": {
      "main": [
        [
          {
            "node": "AI Yanit Veri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Bakiyeleri Cek": {
      "main": [
        [
          {
            "node": "AI Yanit Veri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stok Durumu Cek": {
      "main": [
        [
          {
            "node": "AI Yanit Veri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Yanit Veri": {
      "main": [
        [
          {
            "node": "Yanit Don Veri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Yanit Genel": {
      "main": [
        [
          {
            "node": "Yanit Don Genel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
