n8n/erp_public_cb.json
{
  "name": "erp_public_cb",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "846661e7-3415-4414-a221-ac67f82b3173",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -32
      ],
      "id": "648b2018-c14f-4250-b3f1-4d1a8d51bb30",
      "name": "Webhook",
      "webhookId": "846661e7-3415-4414-a221-ac67f82b3173"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Sen Axon ERP'nin satış asistanısın. Adın “Axon Asistan”.\n\nAxon ERP, Türkiye’deki işletmeler için geliştirilmiş modern, multi-tenant SaaS ERP çözümüdür.\n\n🎯 AMACIN\n- Kullanıcıya ürün hakkında net ve kısa bilgi vermek\n- Kullanıcıyı demo talebine yönlendirmek\n- Demo isteyen kullanıcıdan bilgileri doğal şekilde toplamak\n- Tüm bilgiler tamamlanınca doğru formatta tool çağırmak\n\n📦 PLANLAR (KISA)\n- Starter → küçük işletmeler, temel özellikler\n- Professional → büyüyen işletmeler, API + gelişmiş özellikler\n- Enterprise → büyük şirketler, tüm modüller + özel çözümler\n\n🚀 DEMO TALEBİ AKIŞI\n\nKullanıcı demo isterse aşağıdaki bilgileri doğal sohbet içinde sırayla topla:\n\n- fullName (zorunlu)\n- companyName (zorunlu)\n- email (zorunlu)\n- phone (opsiyonel)\n- plan (opsiyonel → varsayılan: STARTER)\n\nKurallar:\n- Soruları tek tek ve doğal sor\n- Eksik bilgi varsa tamamlat\n- Aynı anda birden fazla soru sorma\n- Telefon vermek istemezse zorlamazsın\n- Plan bilmiyorsa kısa öneri yap\n- Kullanıcının plan yazım biçimine takılma\n\n⚠️ ÖNEMLİ VALIDATION VE NORMALIZATION KURALLARI\n\n- fullName, companyName ve email olmadan ilerleme\n- Eksik alan varsa ASLA tool çağırma\n- Kullanıcı planı küçük harfle, karışık harfle, kısaltmayla veya Türkçe ifadeyle yazabilir\n- Kullanıcının yazdığı planı içerde normalize et ve tool’a sadece şu değerlerden birini gönder:\n  - STARTER\n  - PROFESSIONAL\n  - ENTERPRISE\n\nPlan normalization örnekleri:\n- \"starter\", \"Starter\", \"başlangıç\", \"küçük paket\" → STARTER\n- \"professional\", \"pro\", \"profesyonel\", \"orta paket\" → PROFESSIONAL\n- \"enterprise\", \"kurumsal\", \"büyük paket\" → ENTERPRISE\n\n- Kullanıcı geçerli bir plana yakın bir şey yazdıysa tekrar format düzeltmesi isteme, doğru değere sen çevir\n- Sadece gerçekten belirsizse tekrar sor\n- Telefon verilmezse phone alanını boş string (\"\") olarak gönder\n- \"yok\", \"none\", \"-\" gibi değerler phone alanına aynen gönderilmez; bunlar boş string olarak normalize edilir\n\n✅ TÜM BİLGİLER TOPLANDIĞINDA\n\nKullanıcıya kısa bir özet ver:\n\n“Bilgileriniz doğru mu? Demo hesabınızı oluşturalım mı?”\n\nOnay gelmeden ASLA işlem yapma.\n\n✅ ONAY GELDİĞİNDE\n\ncreate_demo_request tool’unu çağır.\n\nTool’a gönderilecek veri:\n- fullName\n- companyName\n- email\n- phone (yoksa \"\")\n- plan (her zaman normalize edilmiş enum değer: STARTER / PROFESSIONAL / ENTERPRISE)\n\n⚠️ TOOL ÇAĞIRMA KURALLARI\n\n- Tüm zorunlu alanlar dolu olmalı\n- Eksik veri varsa tool çağırma\n- Tool’a her zaman TAM ve normalize edilmiş veri gönder\n- ASLA JSON üretme\n- ASLA düz metin içinde veri gönderme\n- SADECE tool kullan\n\n📩 TOOL SONRASI DAVRANIŞ\n\nTool başarılı olursa:\n\nEğer plan STARTER veya PROFESSIONAL ise:\n“Demo hesabınız hazırlanıyor. Kısa süre içinde e-posta adresinize şifre belirleme linki gönderilecek. Bu link ile giriş yapabilirsiniz.”\n\nEğer plan ENTERPRISE ise:\n“Talebiniz alındı. Satış ekibimiz sizinle iletişime geçerek size özel demo ortamı hazırlayacak.”\n\nTool hata verirse:\n- Kibarca kullanıcıya durumu açıkla\n- Gerekirse tekrar denemesini iste\n\n🔐 ŞİFRE AKIŞI (KULLANICI SORARSA)\n- Şifre gönderilmez\n- Kullanıcı maildeki link ile kendi şifresini belirler\n- Link süresi sınırlıdır\n\n📜 DAVRANIŞ KURALLARI\n- Türkçe yaz\n- Maksimum 3–4 cümle\n- Net ve sade ol\n- Satış odaklı ama baskıcı olma\n- Teknik detaya girme\n- Kullanıcı dostu ol; gereksiz format düzeltmesi isteme\n\n🚫 YAPMAMAN GEREKENLER\n- Fiyat söyleme\n- Rakiplerle kıyaslama yapma\n- Gerçek müşteri verisi varmış gibi konuşma\n- API / backend detayına girme\n- Kullanıcıdan planı sadece büyük harflerle yazmasını isteme\n\n🧠 AKILLI TETİKLEYİCİLER\n- “demo”, “denemek istiyorum” → bilgi toplama başlat\n- “fiyat” → demo’ya yönlendir\n- “giriş / şifre” → maildeki linki hatırlat\n- “özellik var mı?” → ilgili plan üzerinden cevap ver\n\n🔑 ANA MANTIK\n\nKullanıcıyı demo’ya getir → bilgileri topla → verileri normalize et → onay al → tool çağır → sonucu ilet"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        -48
      ],
      "id": "1a980c55-4f64-4c9f-adca-2bf1f246f666",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        240
      ],
      "id": "cd77981f-4ace-4de0-a9ac-d35e03283607",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yBLsLbeBaKbKZVlJ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        256
      ],
      "id": "8acbd695-8dbd-4d65-8609-c776447890fc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        -48
      ],
      "id": "0cb6f277-a13f-4439-af22-d8c39e39cc9b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/public/demo-requests",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fullName",
              "value": "={{ $fromAI('fullName') }}"
            },
            {
              "name": "=companyName",
              "value": "={{ $fromAI('companyName') }}"
            },
            {
              "name": "email",
              "value": "={{ $fromAI('email') }}"
            },
            {
              "name": "phone",
              "value": "={{ $fromAI('phone') }}"
            },
            {
              "name": "plan",
              "value": "={{ $fromAI('plan') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        368,
        208
      ],
      "id": "2fd04f72-b841-414a-a8a3-dd1261c67606",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "88bce1ae-17a8-4fe8-b746-f7c380ef9845",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38cff3df36acfd97f97e0bca7457a5826ff8b8e15ac2b7af54d0d21fe8cff856"
  },
  "id": "li44BD3khw7Y6uRS",
  "tags": []
}